.home-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
}

.row {
  display: flex;
  width: 100%;
}

.col-50 {
  border-radius: 5px;
  margin: 0.2rem;
  width: 50%;
  height: 119px;
  position: relative;
  transition: transform 1s;
  float: left;
  background-position: center center;
  background-size: cover;
}

.col-100 {
  border-radius: 5px;
  margin: 0.2rem;
  width: 100%;
  height: 119px;
  position: relative;
  float: left;
  background-position: center center;
  background-size: cover;
}

.order-online {
  background-image: url(../images/assets/pizza-1.jpg);
}

.book-a-table {
  background-image: url(../images/assets/pizza-2.jpg);
}

.opening-hours {
  background-color: #ff6b6b;
}

.col-50 h1 {
  position: relative;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  top: 40%;
  transition: transform 1s;
}

.move-up:hover h1 {
  transform: translateY(-80%);
  transition: transform 1s;
}

.col-50 span {
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  height: 0;
  transition: ease 1s;
  overflow: hidden;
}

.col-50:hover span {
  height: 40%;
}

.col-50 a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.opening-hours {
  padding-top: 5%;
  color: #fff;
  text-transform: uppercase;
}

.opening-hours h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.opening-hours span {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.carousel {
  background: #EEE;
}
.main-carousel {
  margin:4rem 2rem;
  padding-bottom:2rem;
}

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
  display:flex;
}
.carousel-image {
  width:50%;
  float:left;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-text {
  margin: 0 5%;
  width: 50%;
  float: left;
}

.carousel-text span {
  font-style: italic;
}



.gallery {
  height: auto;
  display: flex;
  flex-direction: column;
}

.gallery-content {
  position: relative;
  transition: transform 1s;
  float: left;
  width: 33.33333%;
  height: 20vh;
  background-position: center center;
  background-size: cover;
  margin: 0.2rem;
  z-index: 1;
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.icon-center i{
  margin: auto auto;
  color:#ffffff;

}

.gallery-content:hover::before {
  position: absolute;
  content: "";
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.gallery-content a {
  z-index: 10;
}

.gallery-img1 {
  background-image: url(../images/assets/pizza-4.jpg);
}

.gallery-img2 {
  background-image: url(../images/assets/pizza-5.jpg);
}

.gallery-img3 {
  background-image: url(../images/assets/pizza-6.jpg);
}

.gallery-img4 {
  background-image: url(../images/assets/pizza-7.jpg);
}

.gallery-img5 {
  background-image: url(../images/assets/pizza-8.jpg);
}

.gallery-img6 {
  background-image: url(../images/assets/pizza-9.jpg);
}

.gallery-content i { /* in all other case hide it */
  visibility: hidden;
  margin: 0.2rem;
  transform: scale(0.1);
  transition: 1s;
}

.gallery-content:hover i { /* when link is hovered select i */
  visibility: visible;
  color:#ff6b6b;
  transform: scale(1);
}

.gallery-content a:hover i { /* in all other case hide it */
  color: red;
}
